* {
    margin: 0;
    padding: 0;
    list-style: none;
    text-decoration: none;
    font-family:"華康新特明體","新細明體";
}
body{
	background-color:#e5e1d6;
}
h2,h3{
	-webkit-margin-before:1em;
	-webkit-margin-after:1em;
}
a {
    color: #000;
}
.loginBar a{
    color:#fff;
}
.footer a{
    color:#fff;
}
div {
    /*outline: 2px solid #f00;*/
}

.hamburger {
            display: none;
        }
        .wrapper {
            width: 90%;
            max-width: 980px;
            margin-left: auto;
            margin-right: auto;
            left: 0;
            right: 0;
            background-color: #aaa;
            position: relative;
            padding-bottom: 1600px;
            background-color:#ece9e4;
        }
   
        .header_out {
            width: 100%;
            height: 108px;
            position: absolute;
        }
        .header {
            /*position: relative;*/
            margin: auto;
            width: 100%;
            max-width: 980px;
            height: 108px;
        }
        .loginBar {
            background:linear-gradient(270deg,#000 30%,#ece9e0 90%);
            text-align: right;
            width: 74.081632653%;
            /*726px;*/
            height: 20px;
            float: left;
            background-color:#000;
        }
        .logo {
            width: 25.9183673469%;
            /*254px;*/
            height: 0;
            /*104px;*/
            padding-bottom: 11.03%;
            float: left;
        }
        .loginBar p {
            color: #fff;
        }
       
        .header a img {
            width: 100%;
            height: auto;
        }
        .nav {
            width: 57.9795918367%;
            /*538.118px;*/
            margin-top: -29px;
            margin-left: 421px;
            float: right;
            padding-right: 3.062%;  /*30px*/
            /*background-color:#0ff;*/
        }
        .nar_ul {
            /*padding-right: 30px;*/
        }
        .nav ul li {
            /*display:inline-block;*/
            float: left;
            background-color: hsla(0, 0%, 0%, 0);
        }
        .nav ul a {
            text-indent: -9999px;
        }
        .nav ul a:nth-child(n+1) li {
            /*打文字在裡面，縮排或是改顏色*/
            display: block;
            width: 22.299%;/*120px*/
            height: 0;/*29px*/
            padding-bottom: 5.390457249%;
            background-image: url(img/acoustic.png);
            background-size: cover;
        }
        .nav ul a:nth-child(n+1) li:hover {
            background-image: url(img/acoustic_s2.png);
        }
        .nav ul a:nth-child(n+2) li {
            display: block;
            width: 26.7569%;/*144px*/
            height: 0;/*29px*/
            padding-bottom: 5.390457249%;
            background-image: url(img/electric.png);
        }
        .nav ul a:nth-child(n+2) li:hover {
            background-image: url(img/electric_s2.png);
        }
        .nav ul a:nth-child(n+3) li {
            display: block;
            width: 26.1999%;      /*141px*/
            height: 0;/*29px*/
            padding-bottom: 5.390457249%;
            background-image: url(img/course.png);
        }
        .nav ul a:nth-child(n+3) li:hover {
            background-image: url(img/course_s2.png);
        }
        .nav ul a:nth-child(n+4) li {
            display: block;
            width: 23.041%;/*124px*/
            height: 0;/*29px*/
            padding-bottom: 5.390457249%;
            background-image: url(img/support.png);
        }
        .nav ul a:nth-child(n+4) li:hover {
            background-image: url(img/support_s2.png);
        }

        .bread {
    width: 980px;
    height: 111px;
    background: url(img/page_info_bg.png) center;
}

.webMap {
    padding-left: 82px;
    padding-top: 30px;
}

.pages {
    text-align: right;
    padding-right: 30px;
    margin-top: 25px;
}
/*=====================end of the header====================*/
.footer {
            position: absolute;
            width: 100%;
            height: auto;
            max-height: 350px;
            z-index: 0;
            top: 1769px;
            background-color: #000;
            padding-bottom: 5%;
            margin-bottom: 50px;
        }
        .footer_inside {
            width: 100%;
            max-width: 980px;
            margin: 0 auto;
        }
        .footer_inside div {
            color: #fff;
            display: inline-block;
            vertical-align: top;
            margin-top: 35px;
            font-size: 15px;
            line-height: 24px;
            /*padding-right: 10px;*/
            /*background-color:#0ff;*/
        }
        .footer div ul li {
            display: block;
            height: auto;
            margin-bottom: 10px;
        }
        .detail {
            width: 178px;
            height: 192px;
            margin-left: 30px;
        }
        .detail h2{
        	margin-top:0px;
        	margin-bottom: 0;
        }
        .map {
            margin-left: 15.306122449%;
        }
        .other {
            margin-left: 15.306122449%;
        }
        .brand {
            margin-left: 15.306122449%;
        }
        .footer_logo {
            margin-left: 73.4693877551%;
            box-sizing: border-box;
            display: block;
            margin-top: -200px;
        }
        .footer_logo img {
            margin-top: -80px;
            margin-left: -10px;
        }
/*===================================end of the footer=================*/
/*==========================start of the prtArea================*/
.sideBar {
    background-color: #e5e1d5;
    width: 150px;
    height: 558px;
    /*font-size:20px;*/
    margin-top: 25px;
    float: left;
    box-sizing: border-box;
    padding-left: 10px;
    padding-right: 10px;
    margin-left: 5px;
}

.sideBar ul h3 {
    margin-left: 5px;
}

.sideBar ul > li {
    padding-top: 10px;
}

.sideBar li li {
    background-color: #673300;
    color: #fff;
    padding-left: 10px;
    padding-top: 10px;
    padding-bottom: 10px;
    margin-top: 10px;
}

.sideBar ul li ul a li span {
    display: inline-block;
}

.prtArea{
	width: 825px;
	float: left;
	margin-bottom: 25px;
}
.prtArea .banner{
	width: 80%;
	height: 393px;
	margin: auto;
	margin-top: 25px;
	/*background-color:#f00;*/
	background:url(img/course_banner.jpg);
	background-size:cover;
	background-repeat:no-repeat;
	box-sizing: border-box;
	padding-top: 200px;
}
.banner_text{
	background-color:#000;
	color:#fff;
	width: 200px;
	height: 72px;
	font-size:24px;
	line-height:36px;
	margin-left: 60%;
	padding: 10px;
}
.news{
	text-align:center;
	width: 750px;
	margin-left: auto;
	margin-right: auto;
	border: 1px solid #444;
    margin-top: 30px;
    box-sizing: border-box;
    border-radius:5% 5% 5% 5%/20% 20% 20% 20%;
    padding-bottom: 10px;
}
.news span h2,.instro span h2{
	background-color:#ece9e4;
	margin-top:-10px;
	width: 150px;
	margin-left: auto;
	margin-right: auto;
}
.news ul{
	padding-left: 30px;
	padding-right: 30px;
	display:inline-block;
	box-sizing: border-box;
	width: 370px;
	height: 120px;
	vertical-align:top;
}
.news ul li{
	width: 340px;
	font-size:24px;
	line-height:36px;
	margin-top: 3px;
}
.news ul ~ ul li:nth-child(3){
	text-align:left;
	margin-left: 103px;
}
.news ul li ~ li{
	font-size:18px;
	line-height:24px;
}
.news ul ~ ul li{
	width: 200px;
	margin-left:70px;
}
 
.news ul li span{
	font-size:12px;
}
.instro{
	padding-bottom:30px;
	width: 750px;
	box-sizing: border-box;
	margin:auto;
	margin-top: 30px;
	border:1px solid #444;
	border-radius:5% 5% 5% 5%/5% 5% 5% 5%;

	
}
.instro_img1{
	padding-top: 15px;
	width: 400px;
	height: 342px;
	display:inline-block;
	box-sizing: border-box;
	margin-left: 50px;
}
.instro_text1{
	width:290px;
	height: 342px;
	display:inline-block;
	vertical-align:top;
	padding: 15px 10px 30px 10px;
	box-sizing: border-box;
	font-size::14px;
	line-height: 28px;
}
.instro_text1 h2,.instro_text2 h2{
	line-height:28px;
}
.instro_img2{
	box-sizing: border-box;
	margin-top: 50px;
	margin-left: 50px;
	width: 285px;
	height: 350px;
	display:inline-block;
}
.instro_text2{
	box-sizing: border-box;
	vertical-align:top;
	margin-top: 50px;
	margin-left: 10px;
	width: 380px;
	height: 350px;
	display:inline-block;
	font-size::14px;
	line-height: 28px;
}
